body{
    background-image: url('../pictures/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: pink;
    overflow-y: hidden;
    font-size: 20px;
}
#container{
    background-color: rgba(255, 255, 255, 0.664);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 10%;

    max-width: 500px;
    margin-left: 25%;
    
}
input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  #login-submit {
    background-color: white; 
    color: rgba(105, 54, 247, 0.726); 
    border: 2px solid #6936f7b9;
    height: 50px;
    width: 40%;
  }
  
  #login-submit:hover {
    background-color: rgba(105, 54, 247, 0.726);
    color: white;
  }
  #signup{
    background-color: white; 
    color: #2462beb9; 
    border: 2px solid #2462beb9;
    height: 50px;
    width: 40%;
    
  }
  a{
    text-decoration: none;
    color: #2462beb9;
  }
  a:hover{
      color: white;
  }
  
  #signup:hover {
    background-color: #2462beb9;
    color: white;
  }
  
  
