body{
    background-image: url('../images/signup.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    font-size: 20px;
}
#container{
    background-color: rgba(255, 255, 255, 0.767);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 7%;
    margin-top: 11%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  #sign-up-submit {
    background-color: white; 
    color: rgba(105, 54, 247, 0.726); 
    border: 2px solid #6936f7b9;
    height: 50px;
    width: 48%;
  }
  
  #sign-up-submit:hover {
    background-color: rgba(105, 54, 247, 0.726);
    color: white;
  }
  #login-submit{
    background-color: white; 
    color: #2462beb9; 
    border: 2px solid #2462beb9;
    height: 50px;
    width: 48%;
    
  }
  a{
    text-decoration: none;
    color: #2462beb9;
  }
  a:hover{
      color: white;
  }
  
  #login-submit:hover {
    background-color: #2462beb9;
    color: white;
  }
  
@media (max-width:980px)
{
  body{
    background-image: url('../images/signup-mobile.jpg');
    font-size: 55px;
  }

  #container{
    padding: 10%;
    margin: 10%;
    margin-top: 45%;
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;
  }
  input[type=text] {
    width: 100%;
    padding: 30px 35px;
    font-size: 45px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  #login-submit {
    font-size:40px;
    height: 60px;
    width: 48%;
  }

  #sign-up-submit{
    font-size:40px;
    height: 60px;
    width: 48%;
  }

}
