body{
    background-image: url("../images/leaderboard.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    background-attachment: fixed;
    font-size: 20px;
}

/*css for the bootstrap table used*/
.table-responsive{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.822);
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/*home button css*/
#homebutton{
    background-color: rgba(204, 184, 184, 0.911);
    float:right;
    margin-right: 2%;
    padding: 9px 12px;
    color: rgb(34, 33, 32);
}

/*responsive css for mobile view*/
@media (max-width:980px)
{
    .table-responsive{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.822);
        margin-top: 5%;
        max-width: 980px;
        margin-left:auto;
        margin-right: auto;
    }
    
    #homebutton{
        background-color: rgba(177, 144, 130, 0.589);
        float:right;
        margin-right: 2%;
        padding: 9px 12px;
        border-color:rgba(116, 60, 38, 0.89);
    }
}