body{
    background-image: url('../images/login.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    font-size: 20px;
}

/*Css for the box in the middle*/
#container{
    background-color: rgba(255, 255, 255, 0.651);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 10%;
    margin-top: 13%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*Changing the size of the input boxes*/
input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    box-sizing: border-box;
  }

  /*Css for the login and signup buttons*/
  #login-submit {
    background-color: white; 
    color: rgba(105, 54, 247, 0.726); 
    border: 2px solid #6936f7b9;
    height: 50px;
    width: 48%;
  }
  
  #login-submit:hover {
    background-color: rgba(105, 54, 247, 0.726);
    color: white;
  }

  #signup-submit{
    background-color: white; 
    color: #2462beb9; 
    border: 2px solid #2462beb9;
    height: 50px;
    width: 48%; 
  }
  
  #signup-submit:hover {
    background-color: #2462beb9;
    color: white;
  }
  
  /*Responsive css*/
@media (max-width:980px)
{
  body{
    background-image: url('../images/login-mobile.png');
    font-size: 60px;
  }

  #container{
    padding: 10%;
    margin: 10%;
    margin-top: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;
  }
  input[type=text] {
    width: 100%;
    padding: 30px 35px;
    font-size: 45px;
    margin: 5px 0;
    box-sizing: border-box;
  }

  #login-submit {
    font-size:40px;
    height: 60px;
    width: 48%;
  }

  #signup-submit{
    font-size:40px;
    height: 60px;
    width: 48%;
  }
}
  
