body{
    overflow-y: hidden;
    background-image: url("../images/subjectlevel.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    background-attachment: fixed;
    font-size: 20px;
    background-color: rgb(33,44,108);
}

/* Css for the title in the middle of the page */
#title{
    margin-top: 2%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 70px;
    color: rgb(234, 234, 238);
}

  /* Ensuring that the options are arranged in the correct order with correct spacings */
#subject_levels{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/* Css for the buttons/ options */
input{
    font-size: large;
    border-color: rgb(96,117,196);
    margin-left: 25px;
    padding: 20px 30px;
    background-color:rgba(103, 123, 233, 0.808);
    color:rgb(232, 232, 247);
}

/* Responsive css */
@media (max-width:576px)
{
    #title{
        font-size: 40px;
        margin-top: 30%;
    }
    

    #subject_levels{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    input{
        font-size: medium;
        padding: 20px 40px;
        margin-left: 40%;
        margin-bottom:8px
    }
    
}

@media (max-width:320px){
    input{
        font-size: medium;
        margin-left: 30%;
    }
}